version: '3'
services:
  prisma:
    image: prismagraphql/prisma:1.34
    restart: always
    ports:
    - "4466:4466"
    environment:
      PRISMA_CONFIG: |
        port: 4466
        # uncomment the next line and provide the env var PRISMA_MANAGEMENT_API_SECRET=my-secret to activate cluster security
        # managementApiSecret: my-secret
        databases:
          default:
            connector: postgres
            host: ec2-3-223-21-106.compute-1.amazonaws.com
            database: dtubo6bvoo5iu
            user: pwtddiavsqzmdq
            password: 2004f59ef04e9af53ff81db9a82d649084405ec1d3cb3c74cf7186c2287ab1aa
            ssl: true
            rawAccess: true
            port: '5432'
            migrations: true